[submodule "bundle/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/ack"]
	path = pack/bundle/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = pack/bundle/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/repeat"]
	path = pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-colors-solarized"]
	path = pack/bundle/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/molokai"]
	path = pack/bundle/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/YouCompleteMe"]
	path = pack/bundle/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/ctrlpvim"]
	path = pack/bundle/start/ctrlpvim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/system-copy"]
	path = pack/bundle/start/system-copy
	url = https://github.com/christoomey/vim-system-copy.git
[submodule "bundle/gitgutter"]
	path = pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/spring-night"]
	path = pack/bundle/start/spring-night
	url = https://github.com/rhysd/vim-color-spring-night.git
[submodule "bundle/airline"]
	path = pack/bundle/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/goyo"]
	path = pack/bundle/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/braceless"]
	path = pack/bundle/start/braceless
	url = https://github.com/tweekmonster/braceless.vim.git
[submodule "bundle/haskell-vim"]
	path = pack/bundle/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/vim-python-pep8-indent"]
	path = pack/bundle/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "bundle/auto-pairs"]
	path = pack/bundle/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-jsx"]
	path = pack/bundle/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/emmet-vim"]
	path = pack/bundle/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vimtex"]
	path = pack/bundle/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/golden_view"]
	path = pack/bundle/start/golden_view
	url = git@github.com:zhaocai/GoldenView.Vim.git
	ignore = untracked
[submodule "bundle/tasklist"]
	path = pack/bundle/start/tasklist
	url = git@github.com:vim-scripts/TaskList.vim.git
[submodule "bundle/vim-racket"]
	path = pack/bundle/start/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule "pack/bundle/start/vim-material"]
	path = pack/bundle/start/vim-material
	url = git@github.com:hzchirs/vim-material.git
